/* SilverWare Slider Variables
===================================================================================================================== */

$slider-control-size: 64px;
$slider-control-color: $white;
$slider-control-font-size: 24px;

$slider-caption-color: $white;
$slider-caption-color-no-image: $gray-600;

$slider-border-radius-rounded:  .25rem;
$slider-border-radius-circular: 50%;

$slider-indicator-color: $gray-400;
$slider-indicator-active-color: $gray-600;

$slider-thumb-padding: 4px;
$slider-thumb-hover-color: $gray-400;
$slider-thumb-active-padding: 2px;
$slider-thumb-active-color: $gray-300;
$slider-thumb-active-border-size: 2px;
$slider-thumb-active-border-style: solid;
